.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(135deg, #EEF2F7, #DFE9F3);
}
.popup{
    margin: 0px 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
}
.head{
    font-size: 32px;
    color: rgb(23, 23, 23);
    font-weight: bolder;
}
.subhead{
    font-size: 22px;
    color: rgb(23, 23, 23);   
    font-weight: 600;
}
.topic{
    margin-top: 10px;
    color: rgb(24, 24, 24);
}
.subdiv{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.home{
    margin-top: 20px;
    background: linear-gradient(135deg, #8EC5FC 0%, #5B86E5 35%, #4A5FD0 65%, #3B3FA6 85%, #2C2F7A 100%);
    color: white;
    width: auto;
    height: 40px;
    padding: 0px 15px;
    outline: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin-right: 10px;
}
.contact{
    margin-left: 10px;
    margin-top: 20px;
    background: #DFE9F3;
    color: rgb(24, 24, 24);
    border: 2px solid #1A4384;
    width: auto;
    height: 40px;
    padding: 0px 15px;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}